body {
  font-family: 'Google Sans', sans-serif;
}

@media (max-width: 768px) {
  *::-webkit-scrollbar {
    display: none !important;
  }

  * {
    scrollbar-width: none !important;
  }

  * {
    -ms-overflow-style: none !important;
  }
}